<div class="admin-sidebar">
    <div class="logo">
        <img src="assets/images/Automation101_shop_logo.png" alt="logo">
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/" id="dashboard"><i class="pi pi-home"></i> Dashboard</a>
            </li>
            <li>
                <a routerLink="/products" id="products"><i class="pi pi-briefcase"></i> Products</a>
            </li>
            <li>
                <a routerLink="/categories" id="categories"><i class="pi pi-list"></i> Categories</a>
            </li>
            <li>
                <a routerLink="/orders" id="orders"><i class="pi pi-shopping-cart"></i> Orders</a>
            </li>
            <li>
                <a routerLink="/users" id="users"><i class="pi pi-users"></i> Users</a>
            </li>
            <li>
                <a class="logout" id="logoutUser" (click)="logoutUser()"><i class="pi pi-sign-out"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>